doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Weather-APP
    link(rel="shortcut icon", href="/favicon-32x32.png", type="image/x-icon")
  body 
    include ./pug/layouts/header
    include ./pug/layouts/body
    script(type="module", src="/src/ts/main.ts") 