.body.success
    .container.pt-sm-4.pt-0
        h1.px-5.px-sm-0 How's the sky looking today?
        .search 
            .bar
                input#location(type="text" placeholder="Search for a place..." autocomplete="off")
                ul.options
                    li(data-value="Egypt") Egypt
                    li(data-value="Germany") Germany
                    li(data-value="Italy") Italy
                    li(data-value="London") London
                    li(data-value="San Francisco") San Francisco
                img(src="/src/assets/images/icon-search.svg", alt="")
            button.btn Search
        h2.no_result No search result found!
        include ../components/currentWeather.pug

.body.failed 
    .container.pt-sm-4.pt-2 
        img.error(src="/src/assets/images/icon-error.svg", alt="")
        .text 
            h1 SomeThing went wrong 
            p We couldn't connect to server (API error). Please try again in a few moments 
        button.btn.btn-secondary.retry 
            img(src="/src/assets/images/icon-retry.svg", alt="")
            | Retry