.current 
    .info 
        h3 Berlin, Germany
        p.time Tuesday, Aug 5, 2025
    .data 
        img(src="/assets/images/icon-sunny.webp", alt="alt")
        p.temp #[i 20°]
.details 
    .one FG 

h4 Daily Forecast
.daily
    .one FGR