.current 
    .info 
        h3 Berlin, Germany
        p.time Tuesday, Aug 5, 2025
    .data 
        img(src="/assets/images/icon-sunny.webp", alt="alt")
        p.temp #[i 20°]
.details 
    .like.detail
        p.text Feels Like
        p.value 18°
    .humidity.detail
        p.text Humidity
        p.value 18%
    .speed.detail
        p.text Wind
        p.value 18 km/h
    .length.detail
        p.text Precipitation
        p.value 0 mm

h4 Daily Forecast
.daily
    .one FGR