.current 
    .info 
        h3 Berlin, Germany
        p.time Tuesday, Aug 5, 2025
    .data 
        img(src="/assets/images/icon-sunny.webp", alt="alt")
        p.temp #[i 20째]
.details 
    .like.detail
        p.text Feels Like
        p.value 18째
    .humidity.detail
        p.text Humidity
        p.value 18%
    .speed.detail
        p.text Wind
        p.value 18 km/h
    .length.detail
        p.text Precipitation
        p.value 0 mm

h4 Daily Forecast
.daily
    - for (var $i = 0; $i < 7; $i++)
        .day
            p.dayName Tue 
            img(src="/assets/images/icon-sunny.webp", alt="alt")
            .text 
                p.max 68째
                p.min 57째