.current 
    .spans 
        .loading
            span
            span
            span
        h4 Loading...
    .info 
        h3 
        p.time 
    .data 
        img(src="assets/images/icon-sunny.webp", alt="alt")
        p.temp #[i ]
.details 
    .like.detail
        p.text Feels Like
        p.value -
    .humidity.detail
        p.text Humidity
        p.value -
    .speed.detail
        p.text Wind
        p.value -
    .length.detail
        p.text Precipitation
        p.value -

h4.forecast Daily Forecast
.daily
    - for (var $i = 0; $i < 7; $i++)
        .day
            p.dayName 
            img(src="assets/images/icon-loading.svg", alt="alt")
            .text 
                p.max 
                p.min 