@use "../variables/colors";
.body {
    .container {
        text-align: center;
        h1 {
            color: white;
            font-size: 45px;
            font-weight: 700;
        }
    }
    &.success {
        .search {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .bar {
                position: relative;
                display: inline-block;
                input {
                    background-color: colors.$el-sel;
                    border: 0;
                    color: white;
                    padding: 10px 10px 10px 50px;
                    font-size: 18px;
                    border-radius: 10px;
                    width: 450px;
                    &:focus {
                        outline: none;
                    }
                }
                .options {
                    display: none;
                    position: absolute;
                    width: 100%;
                    background: colors.$el-bg;
                    border: 0;
                    color: hsl(250, 6%, 84%);
                    margin-top: 8px;
                    list-style: none;
                    border-radius: 6px;
                    padding: 5px;
                    z-index: 10;
                    li {
                        padding: 8px 10px;
                        border-radius: 6px;
                        text-align: start;
                        cursor: pointer;
                        &:hover,
                        &.highlighted {
                            outline: none;
                            border: 1px solid rgba(187, 187, 187, 0.1);
                            background-color: colors.$el-sel;
                        }
                    }
                }
                img {
                    position: absolute;
                    top: calc(47px / 2);
                    transform: translateY(-50%);
                    left: 15px;
                }
            }
            button {
                background-color: hsl(233, 67%, 56%);
                color: white;
                font-size: 18px;
                padding: 9px;
                border: 0;
            }
        }
        .no_result {
            display: none;
            margin-top: 50px;
            font-size: 25px;
            color: white;
        }
    }
    &.failed {
        display: none;
        .container {
            margin-top: 60px;
            .error {
                width: 40px;
            }
            .text {
                max-width: 600px;
                margin: 0 auto;
                p {
                    margin-top: -10px;
                    padding: 0 75px;
                    color: colors.$text-color;
                    font-size: 17px;
                    line-height: 1.5;
                }
            }
            button {
                background-color: colors.$el-bg;
                border: none;
                color: white;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 547px) {
    .success {
        .search {
            flex-direction: column;
            .bar,
            input,
            button {
                width: 100% !important;
            }
        }
    }
}
